.buton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 20px;
  gap: 12px;
  height: 52px;

  background: #1080F7;
  border-radius: 20px;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-base);
  line-height: 24px;
  
  /* identical to box height, or 133% */
  
  color: #FFFFFF;  
  border: 1px solid #1080F7;
  transition: 0.1s ease-in;
}

.buton:hover {
    border: 1px solid white;
    background:transparent;
}