@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  --ramhard-brand: #1080f7;
  --ramhard-white: #fcfcfe;
}

body {
  background: #1e242f !important;
  margin: 0;
}

a {
  text-decoration: none;
}

.page-404 h1 {
  max-width: 426px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size-lg);
  text-align: center;
  
  color: #FFFFFF;
  
}

.page-404 b {
  font-weight: 600;
}

/*Navbar Start */

header {
  padding-top: 0.938rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar .navbar-brand {
  color: #fcfcfe;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  transition: 0.2s ease;
}

.navbar .navbar-brand:hover {
  color: var(--ramhard-brand);
}

.navbar .navbar-brand:focus {
  color: var(--ramhard-brand);
}

.navbar .nav-item .nav-link {
  color: var(--ramhard-white);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-base);
  line-height: 40px;
  margin-right: 2rem;
}

.dropdown-toggle::after {
  color: var(--ramhard-brand)!important;
}

.navbar .nav-item .nav-link:hover {
  color: var(--ramhard-brand);
}
a:link {
  text-decoration: none !important;
}
.navbar .nav-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 20px;
  gap: 12px;
  height: 52px;

  background: #1080f7;
  border-radius: 20px;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-base);
  line-height: 24px;

  /* identical to box height, or 133% */

  color: #ffffff;
}

.navbar .nav-btn:hover {
  border: 1px solid var(--ramhard-white) !important;
  color: var(--ramhard-white) !important;
}

/*Navbar End */

.brand-span {
  color: var(--ramhard-brand);
}

/* Hero Start*/

.mouse-container {
  display: flex;
  justify-content: center;
  align-items: center;
}



* {
  margin: 0;
  padding: 0;
}
.hero .heading {
  max-width: 680px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-xxl);
  line-height: 126.52%;
  margin-bottom: 0;
  /* or 77px */

  color: #fcfcfe;
}

.hero p {
  max-width: 539px;
  margin-bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: calc(var(--font-size-base) - 1px);
  line-height: 126.52%;

  /* or 23px */

  color: #fcfcfe;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7.75rem;
  padding-bottom: 64px;
}

.hero-container {
  margin: 0;
  display: grid;
  gap: 24px;
}

.hero .btn-container {
  display: flex;
  gap: 24px;
}

.socials-container {
  display: flex;
  gap: 24px;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
  cursor: pointer;
}

.socials span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  color: #fcfcfe;
}
/* Hero End */

/* Logo Slider Start */
.logos {
  width: 100%;
}


@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before, .slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}



.slider .slide {
  height: 50px;
  width: 100px;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}
.slider .slide {
  height: 50vh;
  width: 150vw;
}

/* Logo Slider End */

.section-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-xl);
  line-height: 120%;

  /* or 56px */
  margin-bottom: 0;
  color: #ffffff;
}

.section-subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-base);
  line-height: 126.52%;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* identical to box height, or 23px */
  text-align: center;

  color: #c5d1d9;
}

/*Why Secton Start*/

.why {
  padding-top: 7.5rem;
}

.why__text {
  display: flex;
  align-items: center;
}

.why h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: calc(var(--font-size-base) - 1px);
  line-height: 126.52%;

  /* identical to box height, or 23px */
  text-align: center;

  color: #c5d1d9;
}

.why h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-lg);
  line-height: 126.52%;

  /* identical to box height, or 51px */

  color: #ffffff;
}

.why p {
  max-width: 410px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;

  /* or 25px */

  color: rgba(197, 209, 217, 0.63);
}

.why-text-container {
  gap: 12px;
  padding-bottom: 5.063rem;
}

.why-section-text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.why-section-text-container span {
  position: absolute;
  left: -0.5px;
  top: -88px;
  z-index: -1;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 18.75rem;
  line-height: 140%;

  /* or 420px */

  color: #3c474b;
}

.why__container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

/*Why Secton End*/

/* Uslugi Start*/

.uslugi {
  padding-top: 7.5rem;
}

.ulugi-text-container {
  gap: 0.75rem;
}

/* Uslugi End*/

/*Slick Slider */
.slick-slider {
  padding-top: 5.063rem;
}

.slick-disabled {
  transition: ease 3s;
  display: none !important;
}

.slick-list {
  margin: 0 -5px;
}
.slick-slide > div {
  padding: 0 5px;
}

.services-slider-container {
  width: 160px;
  height: 220px;

  background: #c5d1d9;
  border-radius: 10px;
  margin-right: 20px;
}

.slider-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
}

.slider-content p {
  padding-top: 1rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size-base);
  line-height: 17px;
  text-align: center;

  color: #000000;
}

/*Slick Slider End */

/*OurProcess */

.ourprocess {
  padding-top: 7.5rem;
}

.section-text-container {
  gap: 0.75rem;
}

.ourprocess-row {
  padding-top: 5.063rem;
}

.ourprocess-content {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ourprocess-content span {
  border-radius: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-lg);
  line-height: 120%;
  background: white;

  /* or 38px */

  color: #1080f7;
}

.one {
  padding: 20px 31px 20px 31px;
}

.two {
  padding: 20px 29px 20px 29px;
}

.three {
  padding: 20px 28px 20px 28px;
}



.ourprocess-content .zaglavie {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  /* or 24px */
  text-align: center;
  max-width: 300;
  color: #ffffff;
  container-type: inline-zize;

}

.aboutus-text-container p {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.readmore {
  display: flex;
  flex-direction: column;
}

@container (width:700px) {
  .ourprocess-content .zaglavie {
    color:red;
  }
}

.ourprocess-content .paragraph {
  max-width: 273px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;

  /* or 22px */
  text-align: center;

  color: rgba(197, 209, 217, 0.63);
}

.ourprocess {
  padding-bottom: 7.5rem;
}
/*OurProcess End */


 /*About us Start */
.aboutus-text-container {
  gap: 20px;
  align-items: center;
}

.aboutus {
  width: 100%;
  background: #313C42;
  padding-top: 45px;
  padding-bottom: 45px;
}

.aboutus p {
  text-align: center;
  max-width: 631px;
}
/* About us End*/

/*Faq Start */
.faq {
  padding-top: 7.5rem;
}

.faq h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 120%;
  /* or 56px */
  text-align: center;
  color: #FFFFFF;
}
.faq h1 span {
  color: var(--ramhard-brand);
}
.faq .faq-container {
  padding-top: 3rem;
}
.faq .faq-container .accordion-item {
  background: #313C42;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  border-top: 0;
  color: #c5d1d9
}
.faq .accordion {
  border-top: 0;
}
.faq .accordion-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  border: 0;
  /* identical to box height, or 30px */
  color: #FFFFFF;
}
.faq .accordion-button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  color: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
  background: #313C42;
}

.accordion-button:not(.collapsed) {
  background-color:transparent !important;
  box-shadow: #313C42 #313C42 #313C42 #313C42;
  color: var(--ramhard-brand);
}

.accordion-button:focus {
  border-color: none !important;
  outline: 0;
  box-shadow:none !important;
}


.faq .accordion-button:after {
  background-image: url("../Images/arrow.svg") !important; 
}
.faq .panel, .faq .panel-group .panel-heading + .panel-collapse > .panel-body {
  border: none;
  border-top: 0;
}
.faq .accordion-flush .accordion-item {
  border-right: 0 !important;
  border-left: 0;
  border-radius: 0;
  border-bottom-color: #313C42;
  border-top: 0;
}

.accordion {
  --bs-accordion-border-color: #313C42 !important;
}

/*Faq End */

.nqkuw-klass{
  display: none;
}
/*nqq dert -bojko boli i rucete si mrazq az*/

/*Last cta start */

.lastcta__section {
  margin-top: 7.5rem;
  width: 100%;
  padding: 5rem 0px 5rem 0px;
  background: var(--ramhard-brand);
}

.lastcta__text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.lastcta__heading {
  max-width: 742px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-xl);
  line-height: 120%;
  
  /* or 56px */
  text-align: center;
  
  color: #FFFFFF;
  
  
}

/* Last Cta End */

/*Google Mpas Start */
.maps {
  width: 100%;
  height: 500px;
}

/* Google Maps End */

/* Footer Start */
footer
{
	padding:5rem 0px 5rem 0px;
  color: white;
}

footer h6 {

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 180%;
  
  /* or 43px */
  
  color: #FFFFFF;
  
  
}

.footer-bottom-part {
  margin-top: 5rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 2rem 0px 2rem 0px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p
{
	font-size:14px;
	margin-top:24px;
  color: #C5D1D9;
  font-family: 'Inter';
}

footer .footer-divider
{
	height:100%;
	width:1px;
	background-color: #C5D1D9;
}

footer b
{
	font-family: 'Inter';
  font-weight: bold;
	color:#fff;
	margin-bottom:24px;
	display:block;
}

footer ul
{
	font-size:14px;
	list-style-type:none;
	padding:0px;
}

footer ul li
{
  font-family: 'Inter';
  color:#C5D1D9 ;
	margin-bottom:8px;
}

footer .footer-divider {
  height: 100%;
  width: 1px;
  background-color: #C5D1D9;
}

.footer-bottom-part
{
	margin-top:5rem;
	border-top:1px solid #C5D1D9;
	border-bottom:1px solid #C5D1D9;
	padding:2rem 0px 2rem 0px;
	font-size:14px;
	display:flex;
	justify-content:space-between;
	align-items:center;
  font-family: 'Inter';
}

.btn-flex-end
{
	display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.ne_pokazvai {
  background: transparent;
  border: 0px;
}

.AboutButton_buton__AMITH {
  margin-top:32px;
}

/* Footer End */

/*responsive :( */
/*jiva rana za mene veche si ti jiva rana v mene boliiiii :( ::cue() */

@media screen and (max-width:1399px){
  .hero .heading {
    font-size: calc(var(--font-size-xxl) - 2px);
  }
}

@media screen and (min-width:1024px) {

  .navbar-nav .nav-item .nav-link {
    margin-right: 1rem;
  }

  .hero {
    margin-top: 7.75rem;
    padding-bottom: 0px;
  }



  .hero h1 {
    font-size: var(--font-size-xl)
  }

  .why {
    padding-top: 4rem;
  }

  .uslugi {
    padding-top: 4rem;
  }

  .ourprocess{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .faq {
    padding-top: 4rem;
  }

  .lastcta__section {
    margin-top: 4rem;
  }


}

@media  (max-width:1024px) {
    .hero .heading {
      font-size: var(--font-size-xl);
    }

    .hero p {
      font-size: calc(var(--font-size-base) - 2px);

    }

}


@media screen and (min-width: 767px) and (max-width: 1023px) {

  
  body {
    text-align: center;
  }

  .hero {
    margin-top: 1rem;
  }

  .hero h1 {
    font-size: var(--font-size-xl)
  }

  .why {
    padding-top: 2rem;
  }

  .uslugi {
    padding-top: 2rem;
  }

  .ourprocess{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .faq {
    padding-top: 2rem;
  }

  .lastcta__section {
    margin-top: 2rem;
  }

  .hero .heading {
    font-size: var(--font-size-xxl);
  }

  .hero .hero_image_container {
    margin-top: 2rem;
  }

  .col-md-1 {
    display: none;
  }

  .why .why__text{
    width:50%;
  }

  .why .why__text span {
    font-size: 262px;
    top: -71px;
  }

  .ourprocess-content {
    gap:10px;
  }

  .ourprocess .zaglavie {
    font-size: 17px;
  }

  .ourprocess .col-md-3 {
    width:100%;
  }

}
/*телефон*/
@media screen and (max-width:767px) {

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .hero {
    margin-top: 2rem;
  }

  .hero-container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .hero .heading {
    max-width: 386px;
    font-size: 2rem;
  }

  .hero-container p {
    font-size: 1rem;
    max-width: 539px;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    
  }

  .btn-container button {
    display: flex;
    justify-content: center;
  }

  .hero .btn-container {
    gap: 12px;
  }

  .hero .hero_image_container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .hero_image_container img {

  }

  .why {
    padding-top: 0;
  }
  
  .why-text-container {
    gap: 8px;
    padding-bottom: 4rem;
  }

  .why h1 {
    font-size: 2rem;
    max-width: 606px;
    padding-bottom: 0;
  }

  .why h6 {
    margin-top: 0;
    padding-top: 0;
  }

  .why-section-text-container {
    gap: 24px;
  }

  .why-section-text-container p {
    max-width: 515px;
    font-size: 1rem;
  }

  .why-section-text-container span {
    font-size: 200px;
    left: -2px;
    top: -55px;
  }

  .why__image {
    padding-top: 44px;
    display: flex;
    justify-content: center;
  }

  .why__image_special {
    padding-top:2rem;
    display: flex;
    justify-content: center;
  }

  .uslugi {
    padding-top: 0;
  }

  .uslugi .section-title {
    margin-top: 4rem;
  }
  .uslugi-text-container {
    margin-top: 4rem;

  }
  .uslugi .uslugi-text-container {
    margin-top: 4rem;
  }

  .uslugi .slick-slider {
    padding-top: 2rem;
  }

  .ourprocess {
    padding-bottom: 0;
    padding-top: 4rem;
  }

  .ourprocess h1 {
    margin-top: 0;
    font-size: 2rem;
  }

  .ourprocess h6 {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .ourprocess-row {
    padding-top: 2rem;
  }
  .ourprocess .ourprocess-row  {
    gap: 2rem;
  }
  
  .ourprocess .zaglavie {
  }

  .ourprocess .zaglavie p {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .ourprocess .ourprocess-content .paragraph p {
    margin-bottom: 0;
  }

  .aboutus {
    margin-top: 4rem;
    padding: 2rem 0px 2rem 0px;
  }

  .aboutus .section-title {
    margin-top: 0;
    font-size: 2rem;
  }

  .aboutus-text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .AboutButton_buton__AMITH {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  .ne_pokazvai {
    display: grid;
  }
  
  .section-subtitle p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .faq {
    padding-top: 4rem;
  }

  .faq h1 {
    margin: 0;
    font-size: 2rem;
  }

  .faq .faq-container {
    padding-top: 2rem;
  }

  .faq .accordion-button {
    font-size: 18px;
    font-weight: 500;
  }

  .faq .accordion-body {
    font-size: 1rem;
  }

  .lastcta__section {
    margin-top: 4rem;
    padding: 4rem 0px 4rem 0px;
  }

  .lastcta__text_container {
    gap: 24px;
  }

  .lastcta__text_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .lastcta__heading {
    max-width: 398px;
    font-size: 2rem;
  }

  .lastcta__section .button-container {
    margin-top: 24px;
    display: grid !important;

  }

  .LastctaButton_buton__UGCOq {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .lastcta__heading p {
    margin-bottom: 0;
  }
}